img {
  width: 70px;
  height: 70px;
}

body {
  background-color: #ccf2ff;
  font-size: 20px;
}

.table_caption {
  font-size: 30px;
}

.time {
  color: blue;
}

table, th, td {
  margin: 50px;
  border-color: black;
  border: 1px solid black;
}

a {
  color: white;
}

a:link {
  background-color: #c0a4e8;
}
a:visited {
  color: #FF33BB;
}

a:active {
  background-color: #B233FF;
}

a:hover {
  cursor: help;
}

h1, h2, h3, h4, h5, h6 {
  background-color: gray;
}
